header {
    background-color: #363c48
}

.fullbody {
    line-height: 1;
    width: 906px;
    margin: 0 165px;
}

.name h2 {
    font-size: 19px;
    color: aliceblue;
    margin: 15px 0px 22px 36px;
}

.navication a {
    color: aliceblue;
}

.navication {
    color: aliceblue;
    padding-bottom: 20px;
}

.p1 {
    line-height: 24px;
    margin: 8px 0px 29px 3px;
    padding: -1px 14px 3px 37px;
    font-size: 14px;
}

.navication .ph {
    color: aliceblue;
    padding: 9px 0px 0px 34px;
    font-size: 12px;

}

.navication .linkedin {
    color: aliceblue;
    padding: 0px 0px 0px 335px;
    margin: -13px 0px 0px 0px;
    font-size: 14px;

}

.navication .mail {
    font-size: 13px;
    color: aliceblue;
    padding: 17px 0px 0px 32px;
}

.navication .twitter {
    color: aliceblue;
    font-size: 13px;
    margin: -14px 0px 0px 339px;

}

.heading h1 {
    color: rgb(255 255 255);
    font-size: 28px;
    text-transform: uppercase;
    padding: 40px 0px 0px 41px;

}

#bol {
    font-size: 20px;
}

.nam{
    margin: 9px 0px 12px 91px;
    font-size: 18px;
    position: relative;
}
.education .blackbox span{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    margin: -6px 0px 0px 44px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);	
    -webkit-transform: rotate(50deg);
    display: inline-block;
}

.sk .black_line span{
    height: 300px;
    width: 30px;
    background-color: black;
}

.sk .blackbox span{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    margin: -6px 0px 0px 44px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);	
    -webkit-transform: rotate(50deg);
    display: inline-block;
}.software .blackbox span{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    margin: -6px 0px 0px 44px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);	
    -webkit-transform: rotate(50deg);
    display: inline-block;
}

.certifications .blackbox span{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    margin: -6px 0px 0px 44px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);	
    -webkit-transform: rotate(50deg);
    display: inline-block;
}
.experience .blackbox span{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    margin: -5px 0px 0px 44px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);	
    -webkit-transform: rotate(50deg);
    display: inline-block;
}
.experience .icofont-bag-alt:before {
    content: "\eeab";
    color:aliceblue;
    position: absolute ;
    /* border: 2px solid aliceblue; */
    margin: 0px 0px 0px -41px;
}
 .blackbox1 span{
    height: 10px;
    width: 10px;
    background-color: black;
    position: absolute;
    margin: 2px 0px 0px 55px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);	
    -webkit-transform: rotate(50deg);
    display: inline-block;
}
.soft .blackbox1 span{
    height: 10px;
    width: 10px;
    background-color: black;
    position: absolute;
    margin: 19px 0px 0px -40px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);	
    -webkit-transform: rotate(50deg);
    display: inline-block;
    position: absolute;

}
.skill .blackbox1 span{
    height: 10px;
    width: 10px;
    background-color: black;
    position: absolute;
    margin: 9px 0px 0px -40px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);	
    -webkit-transform: rotate(50deg);
    display: inline-block;
    position: absolute;
}

.cer .blackbox1 span{
    height: 10px;
    width: 10px;
    background-color: black;
    position: absolute;
    margin: 7px 0px 0px -40px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);	
    -webkit-transform: rotate(50deg);
    display: inline-block;
    position: absolute;
}
.cer{
    display: flex;
    display: flex;
    line-height: 27px;
    margin: 21px 0px 0px 92px;
}


.sp {
    
    font-size: 14px;
    margin: 1px 0px 0px 96px;
}

.part {
    margin-left: 20%;
    padding: 0%;
}

.bl {
    line-height: 36px;
    padding: 20px 0px 0px 26px;
    font-size: 18px;

}

.wait {
    margin-left: 3%;
    font-size: 13px;
    font-style:italic;
}
.first{
    display: flex;
    margin: 0px 0px 0px 2px;
}
.first .date{
    margin: 12px 0px -1px -5px;
    line-height: 18px;
}


.first .paragraph{
    font-size: 14px;
    line-height: 23px;
    margin: 4px 0px 0px 27px;
}
.second
{
display: flex;
margin-bottom: -9px;
}
.second .paragraph2{
    font-size: 15px;
    line-height: 22px;
    margin: 0px 0px 27px 25px;

}
.second .date1{
    margin: 11px 0px 0px -3px;
    line-height: 19px;
}
.edu{
    display: flex;
}
.date3{
    line-height: 20px;
    margin: 15px 0px 0px -2px;
}

.wai {
    margin: 0px 0px 0px 26px;
    font-size: 16px;
    font-style: italic;
}

#firsh1 {
    color: aliceblue;
    font-size: 19px;
    padding: 9px 22px 7px 31px;
}

.pargraph2 {
    font-size: 15px;
    line-height: 23px;
    margin: 1px 0px 27px 23px;
    

}
.education{
    margin-bottom: -10px;
}
.education .project3{
  margin:   4px 0px 0px 9px;
}
.education .paragraph3{
    margin: -5px 0px 28px 29px;
    line-height: 22px;
    font-size: 15px;

}
.sk{
    margin-bottom: 20px;
}

.skill {
    line-height: 31px;
    font-size: 14px;
    margin: 0px 0px 0px 90px;
}
.software{
    margin: 0px 0px 38px 0px;

}
.soft{
    line-height: 48px;
    font-size: 13px;
    margin: -3px 0px 8px 92px;

}

th {
    border: 3px solid;
    background-color: darkturquoise;
    padding: 0px 16px 0px 16px;
    line-height: 50px;
    text-align: center;
}

.tab table tr td {
    border: 3px solid darkgreen;
    background-color: darkgoldenrod;
    line-height: 40px;
    text-align: center;
}



.form {
    color: yellow;
    padding: 20px 0px 0px 60px;
}

input {
    max-width: 900px;
    padding: 1px 2px;
}

#b {
    background-color: blue;
    cursor: pointer;
}

.container {
    border-radius: 5px;
    background-color: grey;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.heading {
    color: red;
}

a {
    color: red;
}

.mar {
    margin: 0px 397px 78px 559px;
}

.bard {
    display: flex;
    justify-content: center;
}

.fsd {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: orange;
}
.icofont-hat:before {
    content: "\eadf";
    font-size: 28px;
    color: aliceblue;
    margin: 0px 0px 0px -46px;
    position: absolute;
}
.icofont-imac:before {
    content: "\ea39";
    position: absolute;
    color: aliceblue;
    margin: 0px 0px 0px -41px;
}